# Common aliases
. ~/dotfiles/aliases/common
. ~/dotfiles/aliases/debian

# Import ZSH specific aliases if installed
if command -v zsh &> /dev/null; then
    . ~/dotfiles/aliases/zsh
fi

# Import Ruby on Rails related aliases
if [ -f ~/dotfiles/aliases/rails ]; then
    . ~/dotfiles/aliases/rails
fi

# Import work related aliases/ENV vars if file is set up.
if [ -f ~/dotfiles/aliases/work ]; then
    . ~/dotfiles/aliases/work
fi

# Import RVM related aliases if installed
if command -v rvm &> /dev/null; then
    . ~/dotfiles/aliases/rvm
fi

# Import Git related aliases if installed
if command -v git &> /dev/null; then
    . ~/dotfiles/aliases/git
fi
